* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #808080; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo-img {
    height: 40px;
    margin-right: 10px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
  }
  
  .brand-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    margin-left: 30px;
    font-size: 30px;
    font-weight: 900;
  }

  .nav-links
  {
    margin-left: 700px;
  }
  
  .nav-links a {
    text-align: right;
    margin-left: 35px;
    text-decoration: none;
    color: black;
    font-size: 1rem;
  }
  
  .add-vehicle-btn button {
    background-color: red;
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  
  .add-vehicle-btn button:hover {
    background-color: darkred;
  }